
# Folders
.vscode
.venv
.DS_Store
__pycache__/
tests/

cFilter.pyx
commons_c.pyx
img_test__.py
frequency_filters_gpu.py
frequency_filters.py
Image_Processing.py
rfft2_other_filters.py
rfft2_approx_butterworth.py
wavelet.py
run_module.py
